/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body{
    width: 100vw;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}
.main{
    width: 100vw;
    height: 100vh;
    margin-left: 3rem;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

}
#title { 
    color: rgb(21, 1, 1);
    font-size: 2rem;
    text-align: center;
    border: 1px solid #bbb;
    padding: 0.8rem;

}

#name{
    color: black;
    font-size: 3rem;
    text-shadow: 1px 3px 1px rgb(165, 160, 139);
}